<div class="container-fluid ">
   <div class="row g-0">
      <div class="col-4">
         <div class="wrapper ">
            <div class="m-3 bg-light p-3 shadow-sm border rounded" #myDiv>
               <app-bill-table [data]="data">Loading...</app-bill-table>
            </div>

         </div>
      </div>

      <div class="col-6 ">
         <div class="wrapper   px-2  ">
            <div class="sticky-top mb-3">
               <div class=" shadow-sm bg-white rounded p-2">
                  <div class="row ">
                     <div class="col-3 align-content-center">

                        <button type="button" (click)="back()" class="btn border"><i class="bi bi-arrow-left"></i>
                           BACK</button>
                     </div>
                     <div class="col-9 text-end">

                     </div>
                  </div>
               </div>
            </div>
            <div class="border bg-white p-1 rounded shadow-sm">
               <table class="table table-sm">
                  <thead>
                     <tr>

                        <th>Payment</th>
                        <th class="text-end">Amount</th>
                        <th class="text-end">Tips</th>
                        <th class="text-center">Paid</th>
                        <th class="text-center"><i class="bi bi-trash3-fill"></i></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let x of paid">

                        <td width="200">
                           <div class="form-control border-0">
                              {{x.name}}
                           </div>
                        </td>
                        <td>
                           <input type="text" class="form-control" currencyMask [(ngModel)]="x.paid"
                              [disabled]="x.submit==1" (blur)="updateRow(x)"
                              [currencyMask]="{ prefix: '', thousands: ',',  min: 0, precision  : 0, allowNegative  :  false}">
                        </td>
                        <td>
                           <input type="text" class="form-control" currencyMask [(ngModel)]="x.tips"
                              [disabled]="x.submit==1" (blur)="updateRow(x)"
                              [currencyMask]="{ prefix: '', thousands: ',',  min: 0, precision  : 0, allowNegative  :  false}">
                        </td>
                        <td>
                           @if(x.submit == 1){
                           <h4 class="text-center"><i class="bi bi-check-lg"></i></h4>
                           }
                        </td>
                        <td>
                           <button type="button" class="btn text-danger" (click)="deletePaid(x)">
                              <i class="bi bi-trash3-fill"></i>
                           </button>
                        </td>
                     </tr>
                  </tbody>

               </table>
            </div>
            <div class="d-grid sticky-bottom mt-3">
               <button class="btn btn-success btn-lg rounded shadow-sm" (click)="addPaid()">SUBMIT</button>

            </div>

         </div>
      </div>
      <div class="col-2  ">
         <div class="wrapper px-1   text-center">
            <div *ngFor="let x of paymentType; let i = index" class="d-grid">
               <button type="button" [class]="cssClass" (click)="addPayment(x);">{{x.name}}</button>
            </div>
         </div>

      </div>
   </div>
</div>



<ng-template #myModal let-modal>
   <div class="modal-header">
      <strong class="modal-title">Close Payment</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="row">
        
         <div class="col-12 text-center">
            <h4>Payment Finish</h4>
            <h4> CHANGE : {{data['change'] | number}} </h4>
         </div>
      </div>
   </div>
   <div class="p-3"> 
      <div class="d-grid mb-3"> 
         <button type="button" class="btn btn-lg btn-outline-dark py-3" (click)="modal.close('OK click')"><i class="bi bi-check2"></i> Finish</button> 
      </div> 
  
      <div class="d-grid"> 
         <button type="button" class="btn btn-lg btn-success py-3" (click)="modal.close('OK click')"><i class="bi bi-printer"></i> Finish And Print Closed Bill</button>  
      </div> 
 
   </div>
</ng-template>