<div class="header bg-primary text-white">

   <div class="container-fluid">
      <div class="row">
         <div class="col-5">
            menu / login / table info
         </div>

      </div>
   </div>
</div>

<div class="container-fluid">
   <div class="row g-0">
      <div class="col-5">
         <!-- TABLE cart -->

         <table class="table table-sm">
            <tbody>
               <tr (click)="fnChecked(i)" *ngFor="let x of cart; let i = index"
                  [class]="{'tr-active':x.checkBox == 1, 'bg-light':x.sendOrder == 1 }"
                  [hidden]="x.modifierId == 0 && hideTaxSc != 0">
                  <td>
                     <div *ngIf="x.sendOrder == '' && x.modifierId != 0 ">
                        <i *ngIf="x.checkBox == 0 " class="bi bi-square"></i>
                        <i *ngIf="x.checkBox == 1 " class="bi bi-check-square-fill"></i>
                     </div>
                     <div *ngIf="x.sendOrder == 1">
                        <i class="bi bi-receipt"></i>
                     </div>
                  </td>
                  <td> {{x.no}} </td>
                  <td> {{x.name}} </td>


                  <td class="text-end font-monospace">{{x.price < 0 ? 0 : x.price | number}}</td>
               </tr>

            </tbody>
            <tfoot>
               <tr>
                  <td colspan="3" class="text-end">
                     TOTAL {{!hideTaxSc? "+ TAX & SC":""}} 
                  </td>

                  <td   class="text-end">
                     <h4> {{(hideTaxSc ? totalAmount : grandAmount) | number}}</h4>
                  </td>
               </tr>
            </tfoot>


         </table>


      </div>
      <div class="col-7">
         <div class="wrapper border p-3">

            <div>
               <button type="button" class="btn btn-danger me-1" [disabled]="!isChecked" (click)="onVoid()">VOID
                  ITEM</button>
               <button type="button" class="btn btn-danger me-1" (click)="onRemoveModifier()">REMOVE MODIFIER</button>
               <button type="button" class="btn btn-light me-1"
                  (click)="hideTaxSc == 0 ? hideTaxSc = 1  : hideTaxSc = 0">
                  {{hideTaxSc == 1 ? 'Show':'Hide'}} Tax & SC</button>

            </div>

            <div *ngFor="let x of items">
               <div><strong>{{x.name}}</strong></div>
               <ol>
                  <li *ngFor="let a of x.detail"><a href="javascript:;" (click)="addToCart(a)">
                        {{a.descl}} (Rp{{a.price | number}})</a>
                  </li>
               </ol>
            </div>
         </div>
      </div>
   </div>
</div>


<ng-template #modalQty let-modal>
   <div class="modal-header">
      <strong>Change New Item Quantity </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="updateQty()" #actorForm="ngForm">
         <div class="mb-3">
            <div class="mb-1"><label for="newQty">Input New Quantity</label></div>

            <input type="number" class="form-control form-control-lg" id="newQty" required [(ngModel)]="model.newQty"
               name="newQty" #newQty="ngModel">
            <div [hidden]="newQty.valid || newQty.pristine" class="text-danger">
               Input New Quantity is required
            </div>
         </div>
         <div class="text-center">
            <button type="button" class="btn btn-outline-secondary mx-2" style="width: 100px;"
               (click)="modal.close('Save click')">Cancel</button>
            <button type="submit" class="btn btn-dark  mx-2" style="width: 100px;"
               [disabled]="!actorForm.form.valid">OK</button>
         </div>
      </form>
   </div>

</ng-template>