<div class="container-fluid ">
   <div class="row g-0">

      <div class="col-5">
         <!-- TABLE cart -->
         <div class="wrapper border bg-white">
            <table class="table table-hover ">
               <tbody class="sticky-top">
                  <tr>
                     <td colspan="5"><strong>MENU MODIFIER</strong></td>

                  </tr>
               </tbody>
               <tbody>
                  <tr (click)="fnChecked(i)" *ngFor="let x of cart; let i = index"
                     [class]="{'tr-active':x.checkBox == 1, 'bg-light':x.sendOrder == 1 }"
                     [hidden]="x.menuTaxScId != 0 && hideTaxSc != 0">
                     <td>

                        <div *ngIf="x.menuTaxScId == 0 ">
                           <i *ngIf="x.checkBox == 0 " class="bi bi-square"></i>
                           <i *ngIf="x.checkBox == 1 " class="bi bi-check-square-fill"></i>
                        </div>
                        <div *ngIf="x.sendOrder == 1">
                           <i class="bi bi-receipt"></i>
                        </div>
                     </td>

                     <td> {{x.no != 0 ? x.no : ''}} </td>
                     <td> {{x.no != 0 ? '': '+'}} {{x.name}} {{x.priceIncluded == 0 ? '' : '('+(x.priceIncluded |
                        number)+')'}}</td>

                     <td class="text-end">
                        <span class="badge text-bg-warning me-1" *ngIf="x.ta==1">TA</span>
                        <span class="badge text-bg-secondary me-1">{{x.sendOrder}}</span>


                     </td>

                     <td class="text-end font-monospace">
                        {{x.price | number}}
                     </td>

                  </tr>

               </tbody>
               <tfoot>
                  <tr>
                     <td colspan="4" class="text-end ">
                        TOTAL {{!hideTaxSc? "+ TAX & SC":""}}
                     </td>

                     <td class="text-end">
                        <h4> {{(hideTaxSc ? totalAmount : grandAmount) | number}}</h4>
                     </td>

                  </tr>
               </tfoot>


            </table>
         </div>

      </div>
      <div class="col-7">
         <div class="wrapper  px-2  ">
            <div class="sticky-top mb-3">
               <div class=" shadow-sm bg-white rounded p-2">
                  <div class="row ">
                     <div class="col-6 align-content-center">
                        <button type="button" class="btn border" (click)="back()"><i class="bi bi-arrow-left"></i>
                           BACK</button>
                     </div>
                     <div class="col-6 text-end">
                        <button type="button" class="btn border"
                           (click)="hideTaxSc == 0 ? hideTaxSc = 1  : hideTaxSc = 0">
                           <i *ngIf="hideTaxSc == 1" class="bi bi-square"></i>
                           <i *ngIf="hideTaxSc == 0" class="bi bi-check-square-fill"></i>
                           {{hideTaxSc == 1 ? 'Show':'Hide'}} Tax & SC</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row g-2 mb-2">
               <div class="col-4 d-grid">
                  <button type="button" class="btn btn-danger py-3 rounded shadow-sm" [disabled]="!isChecked"
                     (click)="onVoid()">
                     <i class="bi bi-x-lg"></i> VOID ITEM</button>
               </div>
               <div class="col-4 d-grid">
                  <button type="button" class="btn btn-danger   py-3 rounded shadow-sm"
                     (click)="onRemoveModifier()">
                     <i class="bi bi-trash"></i> REMOVE MODIFIER</button>
               </div>
               <div class="col-4 d-grid">
                  <button type="button" class="btn btn-warning   py-3 rounded shadow-sm"
                     (click)="takeOutDetail()">
                     <i class="bi bi-bag-check"></i> TAKE OUT</button>
               </div>
            </div>

            <div class="row g-1 mb-3">
               <div class="col-3 mb-1 d-grid" *ngFor="let x of items; let i = index">
                  <button type="button" [class]="cssMenu" [disabled]=" x.id == modifierDetail['id'] ? true : false "
                     (click)="fnShowModifierDetail(i)">
                     <div class="mb-1"> {{x.name}}</div>
                  </button>
               </div>
            </div>


            <div class="row g-1 mb-3">
               <h6 class="text-center">{{modifierDetail['name']}}</h6>
               <div class="col-3 mb-1 d-grid" *ngFor="let a of modifierDetail['detail']">
                  <a type="button" [class]="cssMenu" (click)="addToCart(a)">
                     <div class="mb-1"> {{a.descs}}</div>
                  </a>
               </div>
            </div>

            <div class="row">
               <div class="col-12">
                  <ul>
                     <li><small>Cannot <span class="badge text-bg-danger"> VOID ITEM</span> if SendOrder (SO)</small></li>
                     <li><small>Cannot <span class="badge text-bg-danger"> REMOVE MODIFIER</span> if SendOrder (SO)</small></li>
                     
                  </ul>
               </div>
            </div>




         </div>
      </div>
   </div>
</div>