@if(login == true){
  <div class="container-fluid">
    <div class="row g-2">
      <div class="col-md-2">
        <div class="mainNavigator">
          <tree-root #treeComponent [nodes]="nodes" [options]="options">
            <ng-template #treeNodeTemplate let-node let-index="index">
  
              <a [routerLink]="['/', node.data.href]">
                <span class="file-icon" [innerHTML]="node.data.icon"></span> 
                {{ node.data.name }}
              </a>
  
            </ng-template>
  
          </tree-root> 
        </div>
      </div>
      <div class="col-md-10">
        <router-outlet />
      </div>
    </div>
  </div>
}
@else {
  <app-login></app-login>
}
