<div class="container mt-3">
    <div class="row g-2">
        <div class="col-9">
            <div class="p-2 bg-white rounded rounded-end-0 shadow-sm">
                <app-view-tables></app-view-tables>
            </div> 
        </div>
        <div class="col-3 bg-white rounded rounded-start-0 shadow-sm">
            <div class="p-2  ">


                <div class="p-1 text-center my-5">
                    <img src="./img/logo.png" width="200">
                </div>
                <div *ngIf="warning != '' " class="alert alert-danger">{{warning}}</div>
                <div class="form-control form-control-lg  bg-light mb-1">
                    {{getTokenJson.username}}
                </div>
                <input type="password" class="form-control form-control-lg  bg-light mb-2" placeholder="PASSWORD"
                    [(ngModel)]="password">

                <div class="mb-2">
                    <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
                </div>

                <div class="row g-1">
                    <div class="col-6 d-grid">
                        <button type="button" class="btn btn-warning btn-lg" (click)="password=''">CE</button>
                    </div>
                    <div class="col-6 d-grid">
                        <button type="button" class="btn btn-dark btn-lg" (click)="onSubmit()">SUBMIT</button>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-12">
            <div class="text-center text-white"><small>Mitralink POS ver {{ver}}</small></div>
        </div>
    </div>
</div>