<div class="wrapper-md border rounded shadow py-5 mt-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 text-center ">
                <h4>Do Daily Start now ?</h4>
            </div>
        </div>
        <div class="row g-1">
            <div class="col-6 d-grid">
                <button type="button" class="btn btn-lg btn-light  " (click)="logOff()">No Yet</button>
            </div>
              <div class="col-6 d-grid">
                <button type="button" class="btn  btn-lg btn-primary" (click)="onStart()">Yes</button>
            </div>

        </div>

    </div>
</div>