.table-map{
    position: relative;
    width: var(--map-width);
    height: var(--map-height);
    background-color: #eee;
    overflow-y: auto;
}

.table-map .floorPlan{
   position: absolute; 
}

 .table-map .floorPlan .items{
    background-color: #f5f5f5;
    border: 1px solid #333;
}

 