.table-map{
    position: relative;
    width: 100%;
    height: var(--map-height);
   background-color: var(--bg-color-primary-1);
    overflow-y: auto;
}

.table-map .floorPlan{
   position: absolute; 
}

 .table-map .floorPlan .items{
    background-color: #fff;  
    cursor: pointer; 
}

.table-sm td{
    font-size: 0.9rem;
}

.table-10{
    background-color: var(--bg-color-primary-50) !important;
}

.table-12{
    background-color: var(--bg-color-primary-40) !important;
}
 .table-18{
    background-color: var(--bg-color-primary-30) !important;
}
 