<div class="row">
   <div class="col-12 ">


      <div class="header py-2">
         <div class="row">
            <div class="col-3">
              <strong>EMPLOYEE</strong>  <span class="btn btn-sm me-2"> </span>
            </div>
            <div class="col-9 text-end">
               <small class="mx-1" >Search (CTRL + F)</small>
               @if(disabled==false){
               <button type="button" class="btn btn-sm btn-light border me-2" (click)="cancel()">Close</button>
               <button type="button" class="btn btn-sm btn-light border me-2" (click)="onUpdate();">Update</button>

               <button type="button" class="btn btn-sm btn-dark border me-2" (click)="open(content);">Create</button>
               <button type="button" class="btn btn-sm btn-danger border me-2" (click)="onDelete();">Delete</button>

               }
               @else {
               <button type="button" class="btn btn-sm btn-light border me-2"
                  (click)="disabled= false">Editable</button>


               <div ngbDropdown class="d-inline-block " container="body">
                  <button type="button" class="btn btn-sm btn-light border me-2" id="dropdownBasic1" ngbDropdownToggle>
                     Filter
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                     <div class="px-3">
                        <div class="mb-2">
                           <label><small>Select Employee Dept</small></label>
                           <select class="form-control form-control-sm  me-2" [(ngModel)]="filterDept">
                              <option [value]="''"> - All -</option>
                              <option *ngFor="let a of selectDept" [value]="a.empdept">{{a.desc1}}</option>
                           </select>

                        </div>

                        <div class="mb-2">
                           <label><small>Select authlevel</small></label>
                           <select class="form-control form-control-sm  me-2" [(ngModel)]="filterAuthLevel">
                              <option [value]="''"> - All -</option>
                              <option *ngFor="let a of selectAuthLevel" [value]="a.authlevel">{{a.desc1}}</option>
                           </select>

                        </div>

                        <div class="mb-2">
                           <label><small>Select selectOrdLevel</small></label>
                           <select class="form-control form-control-sm  me-2" [(ngModel)]="filterOrdLevel">
                              <option [value]="''"> - All -</option>
                              <option *ngFor="let a of selectOrdLevel" [value]="a.ordlevel">{{a.desc1}}</option>
                           </select>

                        </div>
                     </div>



                     <button ngbDropdownItem (click)="httpGet();">Filter</button>
                  </div>
               </div>


               }
              
               <span class="mx-1" *ngIf="loading">
                  <img src="./gif/Pulse@1x-1.0s-200px-200px.gif" height="30">
               </span>

            </div>
         </div>
      </div>
      <div class="mainContent border">
         <div class="">

            <div class="table table-sm table-editable table-hover" style="width: max-content;">
               <thead class="sticky-top ">
                  <tr>

                     <th *ngIf="disabled==false">
                        <a href="javascript:;" (click)="checkAll();">
                           @if(checkboxAll == 1){
                           <i class="bi bi-check-square"></i>
                           }@else {
                           <i class="bi bi-square"></i>
                           }

                        </a>
                     </th>
                     <th>#</th>
                     <th>ID</th>
                     <th>Name</th>
                     <th>login</th>
                     <th>tel</th>
                     <th>addr1</th>
                     <th>addr2</th>
                     <th>birthday</th>
                     <th>dob</th>
                     <th>sex</th>
                     <th>socialid</th>
                     <th>email</th>
                     <th>empdept</th>
                     <th>authlevel</th>
                     <th>ordlevel</th>
                     <th>disclevel</th>
                     <th>actdate</th>
                     <th>card</th>
                     <th>emptype</th>

                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let x of items; let i = index">

                     <td *ngIf="disabled==false">
                        <a href="javascript:;" (click)=" x.checkbox == 0 ? x.checkbox = 1 : x.checkbox = 0">
                           <i *ngIf="x.checkbox == 0" class="bi bi-square"></i>

                           <i *ngIf="x.checkbox == 1" class="bi bi-check-square"></i>
                        </a>
                     </td>
                     <td>{{i+1}}</td>
                     <td>{{x.id}}</td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.name1"
                           [disabled]="disabled">
                     </td>

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.login"
                           [disabled]="disabled">
                     </td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.tel"
                           [disabled]="disabled">
                     </td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.addr1"
                           [disabled]="disabled">
                     </td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.addr2"
                           [disabled]="disabled">
                     </td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.birthday"
                           [disabled]="disabled"></td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.dob"
                           [disabled]="disabled">
                     </td>
                     <td>
                        <select class="form-control form-control-sm" [(ngModel)]="x.sex" [disabled]="disabled">
                           <option value="F">Female</option>
                           <option value="M">Male</option>
                        </select>

                     </td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.socialid"
                           [disabled]="disabled"></td>
                     <td><input type="email" class="form-control form-control-sm" [(ngModel)]="x.email"
                           [disabled]="disabled">
                     </td>
                     <td>
                        <select class="form-control form-control-sm" [(ngModel)]="x.empdept" [disabled]="disabled">
                           <option *ngFor="let a of selectDept" [value]="a.empdept">{{a.desc1}}</option>
                        </select>
                     </td>
                     <td>
                        <select class="form-control form-control-sm" [(ngModel)]="x.autdlevel" [disabled]="disabled">
                           <option *ngFor="let a of selectAuthLevel" [value]="a.autdlevel">{{a.desc1}}</option>
                        </select>
                     </td>
                     <td>
                        <select class="form-control form-control-sm" [(ngModel)]="x.ordlevel" [disabled]="disabled">
                           <option *ngFor="let a of selectOrdLevel" [value]="a.ordlevel">{{a.desc1}}</option>
                        </select>
                     </td>
                     <td><input type="number" class="form-control form-control-sm" [(ngModel)]="x.disclevel"
                           [disabled]="disabled"></td>

                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.actdate"
                           [disabled]="disabled">
                     </td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.card"
                           [disabled]="disabled">
                     </td>
                     <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.emptype"
                           [disabled]="disabled">
                     </td>

                  </tr>
               </tbody>
            </div>

         </div>
      </div>
   </div>
</div>


<ng-template #content let-modal>
   <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">New Employee</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
         <div class="mb-2">
            <label for="name">Name*</label>
            <input id="name" class="form-control form-control-sm" name="name" [(ngModel)]="model.name1" required
               #name="ngModel" />
            <small [hidden]="name.valid || name.pristine" class="text-danger">
               *Name is required
            </small>
         </div>

         <div class="mb-2">
            <label for="name">login*</label>
            <input id="login" class="form-control form-control-sm" name="login" [(ngModel)]="model.login" required
               #login="ngModel" />
            <small [hidden]="login.valid || login.pristine" class="text-danger">
               *login is required
            </small>
         </div>
         <div class="mb-2">
            <label for="passwd">password*</label>
            <input id="login" class="form-control form-control-sm" name="passwd" [(ngModel)]="model.passwd" required
               #passwd="ngModel" />
            <small [hidden]="passwd.valid || passwd.pristine" class="text-danger">
               *password is required
            </small>
         </div>


         <div class="mb-2">
            <label for="empdept">Employee Dept*</label>
            <select id="empdept" class="form-control form-control-sm" name="empdept" [(ngModel)]="model.empdept">
               <option *ngFor="let x of selectDept" [value]="x.empdept">{{x.desc1}}</option>
            </select>
         </div>

         <div class="mb-2">
            <label for="authlevel">Auth Level*</label>
            <select id="authlevel" class="form-control form-control-sm" name="authlevel" [(ngModel)]="model.authlevel">
               <option *ngFor="let x of selectAuthLevel" [value]="x.authlevel">{{x.desc1}}</option>
            </select>
         </div>

         <div class="mb-2">
            <label for="ordlevel">Order Level*</label>
            <select id="ordlevel" class="form-control form-control-sm" name="ordlevel" [(ngModel)]="model.ordlevel">
               <option *ngFor="let x of selectOrdLevel" [value]="x.ordlevel">{{x.desc1}}</option>
            </select>
         </div>


         <div class="mb-4">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
               <input id="dateOfBirth" class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp"
                  [(ngModel)]="model.birthday" ngbDatepicker #dp="ngbDatepicker"
                  [maxDate]="{ year: 2009, month: 12, day: 31 }" />
               <button class="btn btn-sm btn-light bi bi-calendar3 border" (click)="dp.toggle()" type="button"></button>
            </div>
         </div>


         <div class="d-grid">
            <button type="submit" class="btn btn-sm btn-dark" [disabled]="!actorForm.form.valid">Save</button>
         </div>
      </form>
   </div>

</ng-template>