<div class="row">
    <div class="col-12 ">

        <button type="button" class="btn btn-sm btn-primary" (click)="disabled= false">Editable</button>
        <div class="table table-sm table-editable">
            <thead>
                <tr>
                    <th>test</th>
                    <th>test</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of items">
                    <td>{{x.id}}</td>
                    <td><input type="text" class="form-control form-control-sm" [(ngModel)]="x.first1" [disabled]="disabled"> </td>
                </tr>
            </tbody>
        </div>
    </div>
</div>