.table-editable input[type='text'] { 
    border-radius: 0px;
    padding: 1px 5px;
    border:none;
    min-height: 10px !important;
    font-size: 0.8rem;
}
 
.table-editable tbody td{
    font-size: 0.8rem;
}
