*{ 
    font-family: "Open Sans", sans-serif;  
    
}

.mainNavigator{
    border-right: 1px solid #333;
    height: 100vh;
    overflow-x: auto;
}
/* @media (max-width: 1180px) {
    .fixed-width-container {
      width: 1180px !important;
      min-width: 1180px !important;
      background-color: #00f;
    }
  } */