*{ 
    font-family: "Open Sans", sans-serif;  
    
}

div, p {
  font-size: 0.9rem;
}
.mainNavigator{
    border-right: 1px solid #ccc;
    height: 100vh;
    overflow-x: auto;
}
/* @media (max-width: 1180px) {
    .fixed-width-container {
      width: 1180px !important;
      min-width: 1180px !important;
      background-color: #00f;
    }
  } */