<div class="container-fluid">
   <div class="row">
      <!-- <div class="col-6"> 
         <div class="wrapper">
            <div class="py-5">
               <app-bill-table [data]="data">Loading...</app-bill-table>
            </div>
         </div>
      </div> -->

      <div class="col-6">

         <div style="min-height: 85vh; overflow-y: auto;">
            <pre class="font-monospace" [innerHTML]="htmlBill"></pre>
         </div>
      </div>
      <div class="col-6 bg-light rounded ">
         <div class="p-3 text-end">
            <button type="button" class="btn-close btn-lg " aria-label="Close"
               (click)="activeModal.dismiss('Cross click')"></button>
         </div>

         <div style="min-height: 80vh;" class="align-content-center">


            @if(close == 0){
            <div class="text-center d-grid mx-5 mb-3">
               <button type="button" class="btn btn-lg  bg-success py-3 rounded shadow-sm  text-white border"
                  (click)="payment()">PAYMENT</button>
            </div>

            <div class="text-center d-grid mx-5 mb-3">
               <button type="button" class="btn btn-lg   bg-white py-3 rounded shadow-sm border"> PRINT
                  BILL</button>
            </div>

            }
            @if(close == 1) {

            <h4 class="mb-5 text-center">Total Copied : {{cartCopyBill.length}}</h4>
            <div class="text-center" *ngIf="isPrinting == true">
              Checking <img src="./gif/ellipsis.gif" width="50">
            </div>
            <div class="text-center d-grid mx-5 mb-3">
               <button type="button" [disabled]="isPrinting" (click)="printCopyBill();"
                  class="btn btn-lg bg-white py-3 rounded shadow-sm border">
                  <i class="bi bi-printer"></i> PRINT
               </button>
            </div>
            }

            
            <div class="alert alert-warning" *ngIf="printResp != ''">
               {{printResp}}
            </div>

            <div class="text-center mt-5">
               <a target="_blank" href="{{api}}bill/printing?id={{id}}&api=true">API Variable</a>
               <small class="mx-1">丨</small>
               <a target="_blank" href="{{api}}bill/printing?id={{id}}">Template </a>
               <div>
                  <small style="font-size: 0.7rem;"> Template format using *.ejs <a href="https://ejs.co/#docs"
                        target="_blank">Documantation</a> <br> path : public/template/bill.ejs</small>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>

<!-- <div class="wrapper-fix-bottom border-top shadow-sm bg-white">
   <div class="p-2">
      <div class="row">
         <div class="col-5 col-lg-4">
            <div class="row">
               <div class="col-6">
                  <h4 class="">UNPAID</h4>
               </div>
               <div class="col-6">
                  <h4 class="text-end font-monospace">Rp {{totalAmount | number}}</h4>
               </div>
            </div>

         </div>
         <div class="col-7 col-lg-8">
            <a href="javascript:;" (click)="reload()"> Developer Reload</a>
         </div>
      </div>
   </div>
</div> -->