<div class="container-fluid">
   <div class="row">
      <!-- <div class="col-6"> 
         <div class="wrapper">
            <div class="py-5">
               <app-bill-table [data]="data">Loading...</app-bill-table>
            </div>
         </div>
      </div> -->

      <div class="col-6">
         <div class="p-3" style="min-height: 85vh; overflow-y: auto;">
            <pre class="font-monospace" [innerHTML]="htmlBill"></pre>
         </div>
      </div>
      <div class="col-6 bg-light rounded ">
         <div class="p-3 text-end">
            <button type="button" class="btn-close btn-lg " aria-label="Close"
               (click)="activeModal.dismiss('Cross click')"></button>
         </div>

         <div style="min-height: 80vh;" class="align-content-center">



            <div class="text-center d-grid mx-5 mb-3">
               <button type="button" class="btn btn-lg bg-success rounded shadow-sm text-white border">PRINT
                  BILL</button>
            </div>
            <div class="text-center d-grid mx-5">
               <button type="button" class="btn btn-lg btn-outline-dark rounded shadow-sm">PAYMENT</button>
            </div>



            <div class="text-center mt-5">
               <a target="_blank" href="{{api}}payment/cart?id=250611000080">API Variable</a>
               <small class="mx-1">丨</small>

               <a target="_blank" href="{{api}}bill/printing?id=250611000080">Template </a>
               <div>
                  <small  style="font-size: 0.7rem;"> Template Format using *.ejs <a href="https://ejs.co/#docs"
                        target="_blank">Documantation</a></small>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- <div class="wrapper-fix-bottom border-top shadow-sm bg-white">
   <div class="p-2">
      <div class="row">
         <div class="col-5 col-lg-4">
            <div class="row">
               <div class="col-6">
                  <h4 class="">UNPAID</h4>
               </div>
               <div class="col-6">
                  <h4 class="text-end font-monospace">Rp {{totalAmount | number}}</h4>
               </div>
            </div>

         </div>
         <div class="col-7 col-lg-8">
            <a href="javascript:;" (click)="reload()"> Developer Reload</a>
         </div>
      </div>
   </div>
</div> -->