<div class="header">
   <div class="row">
      <div class="col-12">
         <button class="btn btn-sm btn-light" (click)="back();">back</button>
      </div>
   </div>
</div>
<div class="container">

   <div class="row">
      <div class="col-12 col-lg-12">
         <div class="wrapper ">
            <div class=" border">

               <table class="table table-sm table-hover">
                   <thead class="sticky-top">
                     <tr>
                        <th>No</th>
                        <th>Description</th>
                        
                        <th class="text-end">Rate</th>
                        <th class="text-end">Price</th>
                        <th>Send Order</th>
                         <th>inputDate</th>
                        
                     </tr>
                   </thead>
                  <tbody>
                     <tr *ngFor="let x of items">
                        <td>{{x.no}}</td>
                       
                        <td> {{x.no == undefined ? "+":""}} {{x.name}}</td>
                        
                        <td class="text-end">{{x.rate | number}}</td> 
                        <td class="text-end">{{x.price | number}}</td>
                        <td>{{x.sendOrder}}</td>
                         <td>{{x.inputDate | date :'medium'}}</td>
                     </tr>
                  </tbody>
               </table>

            </div>
         </div>
      </div>

   </div>
</div>