#contentDiv {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    /* background-color: #f5f5f5; */
    overflow: hidden;
  }
.right{
  height: 90vh;
}
.draggable {

    background-color: #b4efff; 
    text-align: center;
    line-height: normal;
    position: absolute;
    user-select: none;
    border-radius: 2px;
    border:1px solid #fff
  }
  .draggable div{
    font-size: 0.7rem;
    font-family: "Open Sans", sans-serif;   
  }
  
  .resizable {
    resize: both;
    overflow: hidden;
  }
  