<div class="wrapper-sm">
   <div class="border  bg-white  shadow rounded mt-lg-3 mt-1 ">
      <div class="container p-3">

         <div class="row">
            <div class="col-12 text-center">
               <div class="my-3">
                  <img src="./img/logo.png" width="50%">
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-12">
               <form (ngSubmit)="onSubmit()" #actorForm="ngForm">

                  <div class="form-group mb-3">
                     <label for="outletId">Outlet</label>
                     <select class="form-control form-control-lg" id="outletId" required [(ngModel)]="model.outletId"
                        name="outletId" #outletId="ngModel">
                        <option *ngFor="let x of outletSelect" [value]="x.id">{{x.name}}</option>
                     </select>

                     <div [hidden]="outletId.valid || outletId.pristine" class="text-danger">
                        Outlet Id is required
                     </div>
                  </div>


                  <div class="form-group mb-3">
                     <label for="username">Username</label>
                     <select class="form-control  form-control-lg" id="username" required [(ngModel)]="model.username"
                        name="username" #username="ngModel">
                        <option *ngFor="let x of employeeSelect; let i = index" [value]="i">{{x.name}}</option>

                     </select>

                     <div [hidden]="username.valid || username.pristine" class="text-danger">
                        Username is required
                     </div>
                  </div>
                  <div class="form-group  mb-3">
                     <label for="name">Password</label>
                     <input type="password" class="form-control  form-control-lg" id="password" required
                        [(ngModel)]="model.password" name="password"  #password="ngModel">
                     <div [hidden]="password.valid || password.pristine" class="text-danger">
                        Password is required
                     </div>
                    
                     <div class="mt-1">
                       <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
                     </div> 

                  </div>



                  <div class="d-grid">
                     <button type="submit" class="btn btn-dark py-3 bt-lg rounded shadow-sm"
                        [disabled]="!actorForm.form.valid || !model.outletId">Submit</button>

                  </div>
               </form>
            </div>

            <div class="text-danger">
               {{error}}
            </div>

         </div>

      </div>
   </div>
</div>