<div class="container-fluid ">
   <div class="row g-0">
      <div class="col-5">
         <!-- TABLE cart -->
         <div class="wrapper border bg-white">

            <div *ngIf="cartOrdered.length+cart.length < 1 " class="text-center py-3">No Order</div>

            <table class="table table-hover ">
               <tbody class="sticky-top">
                  <tr>
                     <td  class="align-content-center" (click)="fnCheckBoxAll()">

                        <h3 ><i *ngIf="checkBoxAll == false" class="bi bi-square"></i>
                           <i *ngIf="checkBoxAll == true " class="bi bi-check-square-fill"></i>
                        </h3>

                     </td>
                     <td colspan="3" class="align-content-center"><h6>LIST ORDERS</h6>  </td>

                     <td class="align-content-center">
                        <h6 class="text-center"> <span class="badge text-bg-secondary">{{totalCard +
                              totalCardOrder}}</span></h6>
                     </td>
                  </tr>
               </tbody>
               <tbody *ngFor="let x of cartOrdered; let i = index" [class]="{'tr-active':x.checkBox == 1 }">
                  <tr [class]="{'bg-light':x.sendOrder !== ''}" (click)="fnCheckedOrdered(i)">
                     <td>
                        <h3>
                           <i *ngIf="x.checkBox == 0 " class="bi bi-square"></i>
                           <i *ngIf="x.checkBox == 1 " class="bi bi-check-square-fill"></i>
                        </h3>
                     </td>

                     <td>
                        <div class="lh-1">
                           <strong> <span><i class="bi bi-fork-knife"></i></span> {{x.name }} {{x.modifier.length > 0 ?
                              '*':''}} </strong>
                        </div>
                        <small class="font-monospace">&#64;{{x.price | number}} </small>
                        <span class="badge text-bg-secondary ">SO {{x.sendOrder}}</span>
                        <span *ngIf="x.ta > 0 " class="badge text-bg-warning ms-2">TA </span>
                     </td>

                     <td class="font-monospace text-center">
                        x {{x.total | number}}
                     </td>

                     <td class="text-end font-monospace">{{(x.totalAmount < 0 ? 0 : x.totalAmount )| number}}</td>
                     <td>
                        <a [routerLink]="['/menu/modifier']" class="btn btn-success btn-lg"
                        (click)="logService.logAction('menu/modifier SO '+x.name+' menuId : '+x.menuId+', price : '+x.price, id)"
                           [queryParams]="{id:id, menuId : x.menuId, price : x.price, sendOrder : x.sendOrder }"><i
                              class="bi bi-box-arrow-up-right"></i></a>
                     </td>
                  </tr>

                  @if(checkBoxAllModifier && x.modifier.length > 0){
                  <tr *ngFor="let a of x.modifier; let i = index">
                     <td></td>
                     <td>
                        <div class="lh-1"> {{ a.descl}} </div>
                        <small class="font-monospace">&#64;{{x.price | number}}</small>
                     </td>
                     <td class="text-center"><span class="font-monospace"> x {{ a.total}}</span></td>
                     <td class="text-end"> <span class="font-monospace">{{a.totalAmount |number}}</span></td>
                     <td></td>
                  </tr>
                  }

               </tbody>

               <tbody *ngFor="let x of cart; let i = index" [class]="{'tr-active':x.checkBox == 1 }">
                  <tr (click)="fnChecked(i)  ">
                     <td> 
                        <h3>
                           <i *ngIf="x.checkBox == 0 " class="bi bi-square"></i>
                           <i *ngIf="x.checkBox == 1 " class="bi bi-check-square-fill"></i>
                        </h3>  
                     <td>
                        <div class="lh-1">
                           <strong>{{x.name }} {{x.modifier.length > 0 ? '*':''}} </strong>
                        </div>
                        <small class="font-monospace">&#64;{{x.price | number}}</small>
                        <span *ngIf="x.ta > 0 " class="badge text-bg-warning  ms-2">TA</span>

                     </td>

                     <td class="text-end font-monospace">
                        <button type="button" class="btn  btn-light border" style="width: 60px;"
                           [disabled]="x.sendOrder == 1" (click)="model.newQty = 0;open(modalQty, x, i)"> x {{x.total |
                           number}}
                        </button>
                     </td>

                     <td class="text-end font-monospace">{{(x.totalAmount < 0 ? 0 : x.totalAmount )| number}}</td>

                     <td>
                        <a [routerLink]="['/menu/modifier']" class="btn btn-success btn-lg"
                          (click)="logService.logAction('menu/modifier '+x.name+' menuId : '+x.menuId+', price : '+x.price, id)"
                           [queryParams]="{id:id, menuId : x.menuId, price : x.price, sendOrder : x.sendOrder }"><i
                              class="bi bi-box-arrow-up-right"></i></a>
                     </td>
                  </tr>

                  @if(checkBoxAllModifier && x.modifier.length > 0){
                  <tr *ngFor="let a of x.modifier; let i = index">
                     <td></td>
                     <td>
                        <div class="lh-1"> {{ a.descl}} </div>
                        <small class="font-monospace">&#64;{{x.price | number}}</small>

                     </td>
                     <td class="text-center"><span class="font-monospace"> x {{ a.total}}</span></td>
                     <td class="text-end"> <span class="font-monospace">{{a.totalAmount |number}}</span></td>
                     <td></td>
                  </tr>
                  }

               </tbody>

            </table>


            <div class="sticky-bottom bg-white">
               <div class="container py-2">
                  <div class="row">
                     <div class="col-6">
                        <a class="btn btn-outline-dark"
                           (click)="checkBoxAllModifier == false ? checkBoxAllModifier = true : checkBoxAllModifier = false">
                           <i *ngIf="checkBoxAllModifier == false " class="bi bi-square"></i>
                           <i *ngIf="checkBoxAllModifier == true " class="bi bi-check-square-fill"></i>
                           Show Modifier</a>
                     </div>
                     <div class="col-6">
                        <h4 class="text-end font-monospace">{{totalAmount + totalAmountOrdered | number}}</h4>
                     </div>
                  </div>
               </div>

            </div>


         </div>
      </div>

      <div class="col-7">

         <div class="wrapper  px-2  ">
            <div class="sticky-top mb-3">
               <div class=" shadow-sm bg-white rounded p-2">
                  <div class="row ">
                     <div class="col-3 align-content-center">

                        @if(showHeader == false){
                        <button type="button" class="btn border" (click)="backMenu(menuLookUpParent)"> <i
                              class="bi bi-arrow-left"></i>
                           BACK</button>
                        }
                        @else {
                        <button type="button" class="btn border" (click)="back()"><i class="bi bi-arrow-left"></i>
                           BACK</button>
                        }

                     </div>
                     <div class="col-9 text-end">
                        <button type="button" class="btn   btn-outline-dark me-1" [routerLink]="['/transaction/detail']"
                           [queryParams]="{id:id}"><i class="bi bi-list-check"></i> Transaction Detail</button>
                        <button type="button" class="btn   btn-outline-dark" (click)="open(modalPrinting,[],0)"><i
                              class="bi bi-printer"></i> Print</button>
                     </div>
                  </div>
               </div>
            </div>
            @if(showHeader == true){
            <div>
               <div class="row g-2">
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white" [disabled]="!isChecked"
                        (click)="onVoid()">
                        <i class="bi bi-x-lg"></i> VOID ITEM</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white" [disabled]="cart.length < 1"
                        (click)="sendOrder();">
                        <i class="bi bi-fork-knife"></i> SEND ORDER</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white" (click)="openComponent(id);logService.logAction('Click BILL', id)">
                        <i class="bi bi-receipt-cutoff"></i> BILL</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white" (click)="payment()"><i
                           class="bi bi-credit-card"></i>
                        PAYMENT</button>
                  </div>

               </div>

               <div class="row g-2">
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-danger" (click)="exitWithoutOrder();"><i
                           class="bi bi-trash"></i>
                        CANCEL ORDER</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="btn-warning" (click)="transferItems()"> <i
                           class="bi bi-send-plus"></i>
                        TRANSFER ITEMS</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white" (click)="transferLog()"> <i
                           class="bi bi-clock-history"></i>
                        TRANSFER LOG</button>
                  </div>

                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white" [disabled]="!isChecked"
                        (click)="takeOut()">
                        <i class="bi bi-bag-check"></i>
                        TAKE OUT</button>
                  </div>

                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white" (click)="openTables(modelTables)">
                        <i class="bi bi-intersect"></i>
                        MERGE CHECK </button>
                  </div>
               </div>
            </div>
            }

            <div>

               @if(showHeader == true){
               <div class="row g-2">
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white"
                        (click)="httpMenuLookUp(0);showMenu = true; showHeader= false"><i class="bi bi-cup-straw"></i>
                        MENU</button>
                  </div>
                  <div class="col-3 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white"
                        (click)="showModifier = true;  showHeader= false"><i class="bi bi-pencil"></i> MODIFIER</button>
                  </div>
                  <div class="col-4 d-grid">
                     <button type="button" [class]="cssClass" class="bg-white"
                        (click)="showApplyDiscount =true; showHeader= false"><i class="bi bi-percent"></i> APPLY
                        ITEM DISCOUNT</button>
                  </div>
               </div>
               }

               @if(showHeader == false){
               <!-- <h4>
                  <span *ngIf="showMenu">MENU</span>
                  <span *ngIf="showModifier">MODIFIER</span>
                  <span *ngIf="showApplyDiscount">APPLY ITEM DISCOUNT</span>
               </h4> -->
               }
            </div>
            @if(showMenu == true){

            <div class="row g-1 mb-3">
               @if(menuLookUpParent.length> 0){
               <div>Lookup Menu : <strong class="text-uppercase">{{menuLookUpParent[0]['name'] }} </strong> </div>

               }
               @else {
               <div>Lookup Menu : <strong class="text-uppercase">MENU</strong> </div>
               }

               <div class="col-3 mb-1 d-grid" *ngFor="let x of menuLookUp; let i= index">
                  <button type="button" [class]="cssMenu" (click)="httpMenuLookUp(x.id);">
                     <div class="mb-1"> {{x.id}} {{x.name}}</div>
                  </button>
               </div>
            </div>


            <div class="row g-1 mb-3">
               <div class="col-3 mb-1 d-grid" *ngFor="let a of items">
                  <button type="button" [class]="((a.qty - a.usedQty)< 1) ? cssMenuDisable : cssMenu"
                     (click)="addToCart(a)" [disabled]="(a.qty - a.usedQty) < 1">
                     <div class="mb-1">{{a.name}}</div>
                     <small>&#64;{{a.price | number}} </small>
                     <small *ngIf="a.adjustItemsId != ''"> / {{(a.qty - a.usedQty)}}</small>
                  </button>
               </div>
            </div>
            }

            @if(showModifier == true){
            <div class="row g-1 mb-3">
               <div class="col-3 mb-1 d-grid" *ngFor="let x of modifiers; let i = index">
                  <button type="button" [class]="cssMenu" [disabled]=" x.id == modifierDetail['id'] ? true : false "
                     (click)="fnShowModifierDetail(i)">
                     <div class="mb-1"> {{x.name}}</div>
                  </button>
               </div>
            </div>

            <div class="row g-1 mb-3">
               <h6 class="text-center">{{modifierDetail['name']}}</h6>
               <div class="col-3 mb-1 d-grid" *ngFor="let a of modifierDetail['detail']">
                  <a type="button" [class]="cssMenu" (click)="addToItemModifier(a)">
                     <div class="mb-1"> {{a.descs}}</div>
                  </a>
               </div>
            </div>
            }

            @if(showApplyDiscount == true){
            <div class="row g-1 mb-3">
               <div class="col-3 mb-1 d-grid" *ngFor="let a of discountGroup">
                  <a href="javascript:;" [class]="cssMenu" (click)="addDiscountGroup(a)">{{a.name}}</a>
               </div>
            </div>
            }

            @if(showMenu == true){
            <div class="row g-1 mb-3">
               <div class="col-3 mb-1 d-grid">
                  <button type="button" [class]="cssMenu" (click)="btnFinish(); menuLookupId = 0;">
                     <div class="mb-1">CANCEL</div>
                  </button>
               </div>
               <div class="col-3 mb-1 d-grid">
                  <button type="button" [class]="cssMenu" (click)="back(); menuLookupId = 0;">
                     <div class="mb-1">FINISH</div>
                  </button>
               </div>
            </div>
            }

         </div>

      </div>
   </div>
</div>




<ng-template #modalQty let-modal>
   <div class="modal-header">
      <strong>Change New Item Quantity </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="updateQty()" #actorForm="ngForm">
         <div class="mb-3">
            <div class="mb-1"><label for="newQty">Input New Quantity</label></div>

            <div class="row g-1">
               <div class="col-9">
                  <input type="number" class="form-control form-control-lg" id="newQty" required
                     [(ngModel)]="model.newQty" name="newQty" #newQty="ngModel">
                  <div [hidden]="newQty.valid || newQty.pristine" class="text-danger">
                     Input New Quantity is required
                  </div>
               </div>
               <div class="col-3 d-grid">
                  <button type="button" class="btn btn-lg btn-warning" (click)="model.newQty=0">CE</button>
               </div>
            </div>
         </div>
         <div class="mb-3">
            <app-key-number (dataEmitted)="handleData($event)"></app-key-number>
         </div>

         <div class="row g-1">
            <div class="col d-grid">
               <button type="button" class="btn btn-outline-secondary"
                  (click)="modal.close('Save click')">Cancel</button>
            </div>
            <div class="col  d-grid">
               <button type="submit" class="btn btn-dark" [disabled]="!actorForm.form.valid">OK</button>
            </div>
         </div>

      </form>
   </div>

</ng-template>


<ng-template #modalAddMemo let-modal>
   <div class="modal-header">
      <strong>Change New Item Quantity </strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">

      <form (ngSubmit)="updateQty()" #actorForm="ngForm">
         <div class="mb-3">
            <div class="mb-1"><label for="newQty">Input New Quantity</label></div>

            <input type="number" class="form-control form-control-lg" id="newQty" required [(ngModel)]="model.newQty"
               name="newQty" #newQty="ngModel">
            <div [hidden]="newQty.valid || newQty.pristine" class="text-danger">
               Input New Quantity is required
            </div>
         </div>
         <div class="text-center">
            <button type="button" class="btn btn-outline-secondary mx-2" style="width: 100px;"
               (click)="modal.close('Save click')">Cancel</button>
            <button type="submit" class="btn btn-dark  mx-2" style="width: 100px;"
               [disabled]="!actorForm.form.valid">OK</button>
         </div>
      </form>
   </div>

</ng-template>


<ng-template #modalPrinting let-modal>
   <div class="modal-header">
      <strong class="modal-title">Print target</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="row g-1">
         <div class="col d-grid">
            <button type="button" class="btn btn-lg btn-outline-dark py-5" (click)="printTableChecker()">
               <h4><i class="bi bi-receipt-cutoff"></i></h4>
               Guest Checker
            </button>
         </div>
         <div class="col d-grid">
            <button type="button" class="btn btn-lg btn-outline-dark py-5" (click)="printToKitchen()">
               <h4><i class="bi bi-fire"></i></h4> Kitchen
            </button>
         </div>
      </div>
   </div>

</ng-template>


<ng-template #modelTables let-modal>
   <div class="modal-header">
      <strong class="modal-title" id="modal-basic-title">Select Tables for Merger to</strong>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
      <div class="mb-2">
         <div class="bg-light p-1  border rounded-pill d-inline-block">
            <span *ngFor="let x of tablesMaps; let i = index">
               <button type="button" class="btn btn-sm rounded-pill px-3" (click)="onMap(i)" [class]="{
                           'border': current == i,
                            'bg-white': current == i,
                            'shadow-sm': current == i,
                           }"> {{x.desc1}}

                  <span *ngIf="x.checking > 0  " class="badge text-bg-danger rounded-circle">
                     {{x.checking}}
                  </span>


               </button>
            </span>

         </div>
      </div>

      <div class="map">
         <div class="table-map border p-1 shadow-sm  rounded ">
            <div class="floorPlan" *ngFor="let x of tablesMaps[current]?.maps">


               <div class="items border rounded shadow-sm table-{{x.tableMapStatusId}}"
                  [style.transform]="'translate(' + x.posX + 'px,' + x.posY + 'px)'" [style.width.px]="x.width"
                  [style.height.px]="x.height" [style.backgroundImage]="'url(' + x.icon + ')'"
                  style="background-size: cover; margin: 30% auto; cursor: pointer;"
                  [style.opacity]="x.id == table.outletTableMapId ? 0.4 : 1" (click)="mergerCheck(x)">
                  <div class="text-center">
                     {{x.tableName}}

                     <div>
                        <span *ngIf="x.tableMapStatusId == '12' "> <i class="bi bi-fork-knife"></i></span>
                        <span *ngIf="x.tableMapStatusId == '18' "> <i class="bi bi-receipt-cutoff"></i></span>
                     </div>


                  </div>
               </div>

            </div>
         </div>
      </div>




   </div>

</ng-template>