/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Open Sans", sans-serif;
}

html,
body {
    min-height: 100%;
    margin: 0;
}
 

body { 
    margin: 0 auto;
   
    max-width: var(--body-width);
}

.body-with-header{
 padding-top: 4rem;
}

div,
p,
label {
    font-size: var(--font-size);
}

label {
    color: #333 !important;
}

.wrapper-sm {
    max-width: var(--wrapper-sm-width);
    margin: 0 auto;
}

.wrapper {
    height: 100vh;
    position: relative;
    overflow-y: auto;
}

.main {
    height: 95vh;
    display: flex;
    overflow-y: auto;
}

.map {
    margin:  0 auto;
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.btn{
    border-radius: 0px;
}
.menu {
    max-width: 300px;
}
.content-table{ 
    max-height: 80vh;
    overflow-y: auto;
}
.content-table table thead  th{
    background-color: var(--bg-color-primary-10)  ;
}


.wrapper-fix-bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.table thead th {
    font-size: var(--font-size);
    text-transform: uppercase;
}

.table .bg-light td {
    background-color: var(--bg-color-primary-3);
    border-bottom: 1px solid #cecece;
}

.table td {
    cursor: pointer;
}

.tr-active td {
    background-color: #f4f4f4;
}

.table-bill td {
    padding: 2px 5px;
}

.table-bill td,
.table-bill td strong,
.table-bill td div,
.table-bill span {
    font-family: var(--bs-font-monospace) !important;
}
.navbar{
  padding: 0.3rem 10px !important;
}

.top-header{
    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
 
.header-text{
    font-size: 1.1rem;
    padding: 5px;
}

small{
    font-size: 0.8rem;
}

 