<app-header-menu></app-header-menu>
<div class="container-fluid body-with-header">
    <div class="row g-2">
        <div class="col-12">
            <form class="row row-cols-sm-auto">
                <div class="col-12">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" ngbDatepicker
                            #d="ngbDatepicker" />
                        <button class="btn btn-outline-dark bi bi-calendar3" (click)="d.toggle()"
                            type="button"></button>
                    </div>
                    {{date | json}}

                    http://localhost:3000/terminal/log/getLog?date=2025-07-08
                </div>
            </form>
        </div>
    </div>
</div>