<div class="wrapper-sm">
    <div class="border  bg-white  shadow rounded mt-lg-3 mt-1 ">
        <div class="container p-3">

            <div class="row">
                <div class="col-12 text-center">
                    <div class="my-3">
                        <img src="./img/logo.png" width="50%">
                    </div>
                </div>
            </div>

            <div class="row"> 
                <div class="col-12"> 
                    <div class="form-group my-3">
                        <div class="d-grid">
                            <button type="button" (click)="logOff()" class="btn btn-danger py-3 bt-lg rounded shadow-sm">Relogin</button> 
                        </div>
                    </div> 
                </div>

            </div>
        </div>
    </div>